@{
    ViewBag.Title = "About";
}
<h2>Sobre</h2>
<h3>Aplicação CRUD desenvolvida para o processo seletivo do Itaú.</h3>

<p>Cadastro de Professores e Disciplinas e ligação entre eles em um quadro relacional.</p>
