@{
    ViewBag.Title = "Contact";
}
<h2>Contato</h2>
<h3>Página de contatos do desenvolvedor</h3>

<address>
    Parque São Rafael<br />
    São Paulo, BR, 08320-010<br />
    <abbr title="Celular">Celular:</abbr>
    98490-8988
</address>

<address>
    <strong>e-mail comercial:</strong>   <a href="mailto:gustavobperandre@gmail.com">gustavobperandre@gmail.com</a><br />
</address>